.indexBg {
    background: url("../images/bg11.jpg") 0 no-repeat;
    height: 770px;
}
.yanZ {
	width: 400px;
	height: 480px;
	background-color: #fff;
	margin: 0px auto;
	/* display: none; */
}
.yanZ .y_top {
	width: 100%;
	height: 50px;
	color: red;
	text-align: center;
	font: 700 20px/80px "微软雅黑";
}
.yanZ .y_top h2,.yanZ .y_top i {
	display: inline-block;
}
.yanZ .inpt {
	text-align: center;
	margin-top: 50px;
}
.yanZ .inpt label {
	font-size: 22px;
}
.yanZ .inpt #tex,.yanZ .inpt #pad {
	width: 280px;
	height: 50px;
	font-size: 18px;
	padding-left: 10px;
	display: inline-block;
	border: 1px solid #ccc;
}
.inpt button {
	width: 80%;
	cursor: pointer;
	color: #fff;
	height: 50px;
	font-size: 18px;
	border-radius: 8px;
	margin: 10px 0 20px;
	background-color: green;
}
.inpt p {
	width: 200px;
	height: 20px;
	font-size: 16px;
	padding-left: 50px;
}
.inpt button:hover {
	background-color: #51D009;
} 
.inpt .fl {
	margin: 20px;
}
.inpt .i_1 {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/p.png) no-repeat -89px 0; 
}
.inpt .i_2 {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/p.png) no-repeat -112px 0; 
}
.inpt .i_3 {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/p.png) no-repeat -137px 0; 
}
.inpt .i_4 {
	width: 24px;
	height: 23px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/p.png) no-repeat -64px 0; 
}
.inpt .i_5 {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/p.png) no-repeat -112px -25px; 
}

.inpt .fr .i_6 {
	width: 44px;
	height: 44px;
	cursor: pointer;
	display: block;
	position: relative;
	right: 0;
	bottom: -21px;
	background: url(../images/p.png) no-repeat -46px -86px;
}
.yanZ .erWm {
	text-align: center;
	font: 400 20px/30px "微软雅黑";
}
.yanZ .erWm p {
	line-height: 50px;
	height: 50px;
	padding-top: 20px;
}
.yanZ .erWm p:hover {
	color: red;
	font-size: 30px;
}
.yanZ .erWm .img {
	width: 200px;
	height: 140px;
	text-align: center;
	padding-top: 60px;
	margin: 35px 0 30px 100px;
	cursor: pointer;
	background: url(../images/qrcode.png) no-repeat;
}
.yanZ .erWm span {
	margin-left: 35px;
	color: green;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.erWm .fr .i_6 {
	width: 44px;
	height: 44px;
	cursor: pointer;
	display: block;
	position: relative;
	right: 0;
	bottom: -101px;
	background: url(../images/p.png) no-repeat 0 -86px;
}

.wrong {
   color: red;
}

.right {
    color: green;
}

.you_fd {
	width: 160px;
	height: 160px;
	overflow: hidden;
	position: absolute;
	left: 775px;
	top: 366px;
	display: none;
}
.img .zuo_t {
	width: 80px;
	height: 80px;
	position: relative;
	left: 60px;
}
.img .zuo_t i {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background: rgba(255, 255, 0, 0.4);
}

.fensss {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 143%;
	background: #000;
	opacity: 0.8;
	display: none;
}
.fensss .fs_l img,.fensss .fs_r img {
	width: 200px;
	height:600px;
	margin: 180px;
}
.fensss .fs_z {
	width: 500px;
	height: 200px;
	border-radius: 100px;
	text-align: center;
	background-color: #fff;
	position: absolute;
	left: 418px;
	top: 300px;
	color: #8b0f0d;
	font: 700 50px/200px "宋体";
}













